docs
.coverage
.mypy_cache
.ipynb_checkpoints/
dev/
*.egg-info
.nox
**/__pycache__
.hypothesis
.vim
.esri.gz
index.html
live-mapping
piirros.png
tests/sample_data/kapalo_sql
tests/sample_data/kapalo_imgs
tests/sample_data/kapalo_imgs_orig
*.sqlite
*.jpg
exports
data/kapalo_imgs
data/kapalo_imgs_orig
data/kapalo.sqlite.backup
jon-aland-karikko-mapping
*exports*
