alabaster==0.7.12 ; python_version >= "3.8" and python_version < "3.10"
anyio==3.6.1 ; python_version >= "3.8" and python_version < "3.10"
appnope==0.1.3 ; python_version >= "3.8" and python_version < "3.10" and sys_platform == "darwin" or python_version >= "3.8" and python_version < "3.10" and platform_system == "Darwin"
argcomplete==2.0.0 ; python_version >= "3.8" and python_version < "3.10"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.8" and python_version < "3.10"
argon2-cffi==21.3.0 ; python_version >= "3.8" and python_version < "3.10"
asttokens==2.0.8 ; python_version >= "3.8" and python_version < "3.10"
atomicwrites==1.4.1 ; python_version >= "3.8" and python_version < "3.10" and sys_platform == "win32"
attrs==22.1.0 ; python_version >= "3.8" and python_version < "3.10"
babel==2.10.3 ; python_version >= "3.8" and python_version < "3.10"
backcall==0.2.0 ; python_version >= "3.8" and python_version < "3.10"
beautifulsoup4==4.11.1 ; python_version >= "3.8" and python_version < "3.10"
bleach==5.0.1 ; python_version >= "3.8" and python_version < "3.10"
branca==0.5.0 ; python_version >= "3.8" and python_version < "3.10"
certifi==2022.6.15 ; python_version >= "3.8" and python_version < "3.10"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "3.10"
cfgv==3.3.1 ; python_version >= "3.8" and python_version < "3.10"
charset-normalizer==2.1.1 ; python_version >= "3.8" and python_version < "3.10"
click-plugins==1.1.1 ; python_version >= "3.8" and python_version < "3.10"
click==8.1.3 ; python_version >= "3.8" and python_version < "3.10"
cligj==0.7.2 ; python_version >= "3.8" and python_version < "3.10"
cloudpickle==2.1.0 ; python_version >= "3.8" and python_version < "3.10"
colorama==0.4.5 ; python_version >= "3.8" and python_version < "3.10"
colorlog==6.7.0 ; python_version >= "3.8" and python_version < "3.10"
copier==6.1.0 ; python_version >= "3.8" and python_version < "3.10"
debugpy==1.6.3 ; python_version >= "3.8" and python_version < "3.10"
decorator==5.1.1 ; python_version >= "3.8" and python_version < "3.10"
defusedxml==0.7.1 ; python_version >= "3.8" and python_version < "3.10"
distlib==0.3.6 ; python_version >= "3.8" and python_version < "3.10"
docutils==0.17.1 ; python_version >= "3.8" and python_version < "3.10"
doit==0.36.0 ; python_version >= "3.8" and python_version < "3.10"
dunamai==1.13.0 ; python_version >= "3.8" and python_version < "3.10"
entrypoints==0.4 ; python_version >= "3.8" and python_version < "3.10"
exceptiongroup==1.0.0rc9 ; python_version >= "3.8" and python_version < "3.10"
executing==1.0.0 ; python_version >= "3.8" and python_version < "3.10"
fastjsonschema==2.16.1 ; python_version >= "3.8" and python_version < "3.10"
filelock==3.8.0 ; python_version >= "3.8" and python_version < "3.10"
fiona==1.8.21 ; python_version >= "3.8" and python_version < "3.10"
folium==0.12.1.post1 ; python_version >= "3.8" and python_version < "3.10"
geopandas==0.11.1 ; python_version >= "3.8" and python_version < "3.10"
hypothesis==6.54.4 ; python_version >= "3.8" and python_version < "3.10"
identify==2.5.3 ; python_version >= "3.8" and python_version < "3.10"
idna==3.3 ; python_version >= "3.8" and python_version < "3.10"
imagesize==1.4.1 ; python_version >= "3.8" and python_version < "3.10"
importlib-metadata==4.12.0 ; python_version >= "3.8" and python_version < "3.10"
importlib-resources==5.9.0 ; python_version >= "3.8" and python_version < "3.9"
iniconfig==1.1.1 ; python_version >= "3.8" and python_version < "3.10"
ipykernel==6.15.2 ; python_version >= "3.8" and python_version < "3.10"
ipython-genutils==0.2.0 ; python_version >= "3.8" and python_version < "3.10"
ipython==8.4.0 ; python_version >= "3.8" and python_version < "3.10"
iteration-utilities==0.11.0 ; python_version >= "3.8" and python_version < "3.10"
jedi==0.18.1 ; python_version >= "3.8" and python_version < "3.10"
jinja2-ansible-filters==1.3.2 ; python_version >= "3.8" and python_version < "3.10"
jinja2==3.1.2 ; python_version >= "3.8" and python_version < "3.10"
json5==0.9.10 ; python_version >= "3.8" and python_version < "3.10"
jsonschema==4.15.0 ; python_version >= "3.8" and python_version < "3.10"
jupyter-client==7.3.5 ; python_version >= "3.8" and python_version < "3.10"
jupyter-core==4.11.1 ; python_version >= "3.8" and python_version < "3.10"
jupyter-server==1.18.1 ; python_version >= "3.8" and python_version < "3.10"
jupyterlab-pygments==0.2.2 ; python_version >= "3.8" and python_version < "3.10"
jupyterlab-server==2.15.1 ; python_version >= "3.8" and python_version < "3.10"
jupyterlab==3.4.5 ; python_version >= "3.8" and python_version < "3.10"
livereload==2.6.3 ; python_version >= "3.8" and python_version < "3.10"
lxml==4.9.1 ; python_version >= "3.8" and python_version < "3.10"
markdown-captions==2.1.2 ; python_version >= "3.8" and python_version < "3.10"
markdown==3.3.7 ; python_version >= "3.8" and python_version < "3.10"
markupsafe==2.1.1 ; python_version >= "3.8" and python_version < "3.10"
matplotlib-inline==0.1.6 ; python_version >= "3.8" and python_version < "3.10"
mistune==2.0.4 ; python_version >= "3.8" and python_version < "3.10"
munch==2.5.0 ; python_version >= "3.8" and python_version < "3.10"
mypy-extensions==0.4.3 ; python_version >= "3.8" and python_version < "3.10"
nbclassic==0.4.3 ; python_version >= "3.8" and python_version < "3.10"
nbclient==0.6.7 ; python_version >= "3.8" and python_version < "3.10"
nbconvert==7.0.0 ; python_version >= "3.8" and python_version < "3.10"
nbformat==5.4.0 ; python_version >= "3.8" and python_version < "3.10"
nbsphinx==0.8.9 ; python_version >= "3.8" and python_version < "3.10"
nest-asyncio==1.5.5 ; python_version >= "3.8" and python_version < "3.10"
nodeenv==1.7.0 ; python_version >= "3.8" and python_version < "3.10"
notebook-shim==0.1.0 ; python_version >= "3.8" and python_version < "3.10"
notebook==6.4.12 ; python_version >= "3.8" and python_version < "3.10"
nox==2022.8.7 ; python_version >= "3.8" and python_version < "3.10"
numpy==1.23.2 ; python_version < "3.10" and python_version >= "3.8"
packaging==21.3 ; python_version >= "3.8" and python_version < "3.10"
pandas==1.4.4 ; python_version >= "3.8" and python_version < "3.10"
pandera==0.11.0 ; python_version >= "3.8" and python_version < "3.10"
pandocfilters==1.5.0 ; python_version >= "3.8" and python_version < "3.10"
parso==0.8.3 ; python_version >= "3.8" and python_version < "3.10"
pathspec==0.10.0 ; python_version >= "3.8" and python_version < "3.10"
pexpect==4.8.0 ; python_version >= "3.8" and python_version < "3.10" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.8" and python_version < "3.10"
pillow==9.1.1 ; python_version >= "3.8" and python_version < "3.10"
pkgutil-resolve-name==1.3.10 ; python_version >= "3.8" and python_version < "3.9"
platformdirs==2.5.2 ; python_version >= "3.8" and python_version < "3.10"
pluggy==1.0.0 ; python_version >= "3.8" and python_version < "3.10"
plumbum==1.7.2 ; python_version >= "3.8" and python_version < "3.10"
pre-commit==2.20.0 ; python_version >= "3.8" and python_version < "3.10"
prometheus-client==0.14.1 ; python_version >= "3.8" and python_version < "3.10"
prompt-toolkit==3.0.30 ; python_version >= "3.8" and python_version < "3.10"
psutil==5.9.1 ; python_version >= "3.8" and python_version < "3.10"
ptyprocess==0.7.0 ; python_version >= "3.8" and python_version < "3.10" and sys_platform != "win32" or python_version >= "3.8" and python_version < "3.10" and os_name != "nt"
pure-eval==0.2.2 ; python_version >= "3.8" and python_version < "3.10"
py==1.11.0 ; python_version >= "3.8" and python_version < "3.10"
pyarrow==9.0.0 ; python_version >= "3.8" and python_version < "3.10"
pycparser==2.21 ; python_version >= "3.8" and python_version < "3.10"
pydantic==1.10.1 ; python_version >= "3.8" and python_version < "3.10"
pygments==2.13.0 ; python_version >= "3.8" and python_version < "3.10"
pyparsing==3.0.9 ; python_version >= "3.8" and python_version < "3.10"
pyproj==3.3.1 ; python_version >= "3.8" and python_version < "3.10"
pyrsistent==0.18.1 ; python_version >= "3.8" and python_version < "3.10"
pytest-datadir==1.3.1 ; python_version >= "3.8" and python_version < "3.10"
pytest-regressions==2.3.1 ; python_version >= "3.8" and python_version < "3.10"
pytest==7.1.2 ; python_version >= "3.8" and python_version < "3.10"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.10"
python-json-logger==2.0.4 ; python_version >= "3.8" and python_version < "3.10"
pytz==2022.2.1 ; python_version >= "3.8" and python_version < "3.10"
pywin32==304 ; platform_system == "Windows" and platform_python_implementation != "PyPy" and python_version >= "3.8" and python_version < "3.10" or sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.8" and python_version < "3.10"
pywinpty==2.0.7 ; python_version >= "3.8" and python_version < "3.10" and os_name == "nt"
pyyaml-include==1.3 ; python_version >= "3.8" and python_version < "3.10"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "3.10"
pyzmq==23.2.1 ; python_version >= "3.8" and python_version < "3.10"
questionary==1.10.0 ; python_version >= "3.8" and python_version < "3.10"
requests==2.28.1 ; python_version >= "3.8" and python_version < "3.10"
send2trash==1.8.0 ; python_version >= "3.8" and python_version < "3.10"
shapely==1.8.4 ; python_version >= "3.8" and python_version < "3.10"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.10"
sniffio==1.2.0 ; python_version >= "3.8" and python_version < "3.10"
snowballstemmer==2.2.0 ; python_version >= "3.8" and python_version < "3.10"
sortedcontainers==2.4.0 ; python_version >= "3.8" and python_version < "3.10"
soupsieve==2.3.2.post1 ; python_version >= "3.8" and python_version < "3.10"
sphinx-autobuild==2021.3.14 ; python_version >= "3.8" and python_version < "3.10"
sphinx-autodoc-typehints==1.19.2 ; python_version >= "3.8" and python_version < "3.10"
sphinx-gallery==0.11.1 ; python_version >= "3.8" and python_version < "3.10"
sphinx-rtd-theme==1.0.0 ; python_version >= "3.8" and python_version < "3.10"
sphinx==5.1.1 ; python_version >= "3.8" and python_version < "3.10"
sphinxcontrib-applehelp==1.0.2 ; python_version >= "3.8" and python_version < "3.10"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.8" and python_version < "3.10"
sphinxcontrib-htmlhelp==2.0.0 ; python_version >= "3.8" and python_version < "3.10"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.8" and python_version < "3.10"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.8" and python_version < "3.10"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.8" and python_version < "3.10"
stack-data==0.5.0 ; python_version >= "3.8" and python_version < "3.10"
tabulate==0.8.10 ; python_version >= "3.8" and python_version < "3.10"
terminado==0.15.0 ; python_version >= "3.8" and python_version < "3.10"
tinycss2==1.1.1 ; python_version >= "3.8" and python_version < "3.10"
toml==0.10.2 ; python_version >= "3.8" and python_version < "3.10"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.10"
tornado==6.2 ; python_version >= "3.8" and python_version < "3.10"
traitlets==5.3.0 ; python_version >= "3.8" and python_version < "3.10"
typer==0.4.2 ; python_version >= "3.8" and python_version < "3.10"
typing-extensions==4.3.0 ; python_version >= "3.8" and python_version < "3.10"
typing-inspect==0.8.0 ; python_version >= "3.8" and python_version < "3.10"
urllib3==1.26.12 ; python_version >= "3.8" and python_version < "3.10"
virtualenv==20.16.4 ; python_version >= "3.8" and python_version < "3.10"
wcwidth==0.2.5 ; python_version >= "3.8" and python_version < "3.10"
webencodings==0.5.1 ; python_version >= "3.8" and python_version < "3.10"
websocket-client==1.4.0 ; python_version >= "3.8" and python_version < "3.10"
wrapt==1.14.1 ; python_version >= "3.8" and python_version < "3.10"
zipp==3.8.1 ; python_version >= "3.8" and python_version < "3.10"
